.abc{
  display: flex;
  justify-content: space-evenly;
}
.bc{
  margin-bottom: 60px;
}
.style{
  position: 'absolute' as 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  background-color: 'background.paper';
  border: '2px solid #000';
  box-shadow: 24;
  /* p: 4, */
}
.loginModal{
  /* padding:20; */
  height: 100px;
  width:200px;
}
.css-1d1r5q-MuiFormHelperText-root{
  color: red;
}
#search-box{
  border:none;
  margin-left:90vh;
  margin-bottom: 10px;
}
#nav-text{
  margin-right: 3vh;
}
#search-box{
  outline: none;
  border:none;
}
/* .map{
  position:relative;
  text-align:right;
  width:100%;
  height:400px;
  overflow:hidden;
  background:none!important;
  width:100%;
  height:400px;
} */

#nav-new{
  margin-right: 3vh;
}
#carouselExampleControls{
  height: 50vh;
  width:150vh;
}
/* .contact-input{
  display: flex;
  flex-direction: column;
  gap:3rem;
}
.contact-form{
  max-width: 50rem;
  margin:auto;
}
.container{
  margin-top: 6rem;
} */
.service-box{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service-array{
  display: flex;
  padding-left: 20px;
 
  justify-content: space-around;
  margin-top: 100px;
  gap:20px 5px;
 
  flex-wrap: wrap;
}
.product-style{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  margin-bottom:20px;
 
  
}
.products-list{
  display:inline-table;
  /* justify-content: space-around; */
   padding-left: 20px;
  gap:20px 5px;
  flex-wrap: wrap;
  /* background-color: orange; */
  /* justify-content: space-around; */
  margin-top: 150px;
  margin-left: 60px;
  /* align-self: normal; */
  /* padding: 10px 20px; */
  /* margin:20px auto;
  gap:20px 5px;
 background-color: orange;
  flex-wrap: wrap; */
}
/* body{
  min-height: 100vh;
} */
/* .bgimg{
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  width: 100%;
} */
/* .footer{
  position: fixed;

} */
/* .modal-view{
  max-height: calc(100vh -210px);
  overflow-y: auto;
  background-color: aquamarine;
} */
.pagination{
  justify-content: center;
  margin-top:150px;
}